* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(140deg, #4a7dc6 0%, #EADEDB 100%);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1vw 2vw;
}

a {
  color: inherit;
  text-decoration: none;
}