.logo{
  width: 15vw;
}

.headerStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .logo{
    width: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .logo{
    width: 40vw;
  }
}

@media screen and (max-width: 480px) {
  .logo{
    width: 50vw;
  }
}